# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64


matplotlib=3.4.2=py37h89c1867_0
matplotlib-base=3.4.2=py37hdd32ed1_0
numpy=1.20.3=py37h038b26d_1
pandas=1.2.4=py37h219a48f_0
pillow=8.2.0=py37h4600e1f_1
pip=21.1.2=pyhd8ed1ab_0
plotly=4.14.3=py_0
scikit-learn=0.24.2=py37h18a542f_0
scipy=1.6.3=py37h29e03ee_0
seaborn=0.11.1=hd8ed1ab_1
seaborn-base=0.11.1=pyhd8ed1ab_1
statsmodels=0.12.2=py37h902c9e0_0
streamlit=0.81.1=pyhd8ed1ab_0

